<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>About Me</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="navbar">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/education">EDUCATION</a>
        <a href="/skills">SKILLS</a>
        <a href="/contact">CONTACT</a>
    </div>
    <h2 class="section-title">ABOUT</h2>
    <div class="section-box">
         <p>My name is Isha Landge, and I am from Nagpur Maharashtra. I have an academic background in Data Analysis, with skills in working with data-driven insights, visualization, and reporting. My expertise includes tools and technologies like Excel, SQL, Python, and data visualization platforms. </p>
    <p> I am passionate about turning raw data into meaningful insights that help in decision-making, Alongside my data skills I am expanding my knowledge in full-stack development to broaden my problem-solving capabilities and work on end-to-end solutions..</p>
    </div>
</body>
</html>
